body {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  padding-top: 50px;
}

h1, h2, h3 {
  margin-bottom: 50px;
}

p {
  margin-bottom: 50px;
}

#history {
  display: block;
}

#history span {
  float: left;clear: left;
}

.historyTitle {
  margin-top: 50px;
  margin-bottom: 10px;
  display: none;
}

#author {
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#paragraph {
  display: block;
  height: 100%;
  background: #eee;
  padding: 15px 15px 5px 15px;
}

#paragraph span {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
  padding: 1px;
  margin-bottom: 10px;
}

#paragraph span#next {
  color: #eee;
  background: black;
  animation: blinker 0.8s step-end infinite;
}

#paragraph span#next[data-wrong="yes"] {
  color: red;
  background: black;
  animation: blinker-wrong 0.8s step-end infinite;
}

#paragraph span#next.space {
  color: red;
  background: black;
  animation: blinker-space 0.8s step-end infinite;
}

#paragraph span#next.space[data-wrong="yes"] {
  color: red;
  background: black;
  animation: blinker-wrong 0.8s step-end infinite;
}

@keyframes blinker-wrong {
  0% {
    color: #eee;
    background: black;
  }
  50% {
    color: red;
    background: #eee;
  }
}

@keyframes blinker {
  0% {
    color: #eee;
    background: black;
  }
  50% {
    color: black;
    background: #eee;
  }
}

@keyframes blinker-space {
  0% {
    color: #eee;
    background: black;
  }
  50% {
    color: #aaa;
    background: #eee;
  }
}

#paragraph span.space {
  margin-left: 2px;
  margin-right: 2px;
  color: #aaa;

  -webkit-transform:scale(1.3, 1.0);
  -moz-transform:scale(1.3, 1.0);
  -ms-transform:scale(1.3, 1.0);
  -o-transform:scale(1.3, 1.0);
  transform:scale(1.3,1.0);
}

#paragraph span[data-wrong="yes"] {
  color: red;
}

#inputBox, #inputBox:focus {
  height: 0;
  width: 0;
  -webkit-appearance: textfield;
  background-color: #eee;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 0;
  border: none;
}

button#reset {
  font-size: 1.5em;
  padding: 3px 12px;
}
